@import './base.css';
@import './breedsHorseCard.css';
@import './sectionPresentation.css';
@import './boxVideoSumUpRide.css';
@import './menuIcon.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

* {
  z-index: 1;
}
