@import './base.css';

.container-presentation {
  height: 100vh;
  background-image: url('@/assets/media/cavalo.jpg');
  background-size: cover;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
}

.box-texts-presentation {
  position: relative;
  width: 100%;
  z-index: 0;
  height: 50vh;
  top: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.box-right-text {
  color: var(--vt-c-white);
  height: 95%;
  max-width: 17px;
  display: flex;
  font-size: 0.7rem;
  word-break: break-all;
  position: relative;
  top: 9rem;
  right: 3rem;
  letter-spacing: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.box-right-text h3 {
  font-weight: 600;
  text-align: center;
}

.box-button-book {
  width: 50%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.box-button-book button {
  border: 2px solid var(--vt-c-white);
  background-color: transparent;
  border-radius: 50px;
  width: 55%;
  height: 70%;
  font-size: 1.4rem;
  color: var(--vt-c-white);
  transition: 0.3s;
}

.box-button-book button:hover {
  margin-bottom: 0.8rem;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to top,
    var(--vt-c-ligth-brown) 5%,
    transparent,
    transparent,
    transparent
  );
  z-index: 1;
}
